body {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
    background-color: #5c7966;
    color: black;
}

input, select, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

.result {
    margin-top: 20px;
    font-size: 18px;
}
